[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/nerd-commenter"]
	path = bundle/nerd-commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/nerd-tree"]
	path = bundle/nerd-tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/fokus"]
	path = bundle/fokus
	url = https://github.com/vim-scripts/fokus.git
[submodule "bundle/checksyntax"]
	path = bundle/checksyntax
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/enter-ident"]
	path = bundle/enter-ident
	url = https://github.com/vim-scripts/Enter-Indent.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "bundle/vbnet"]
	path = bundle/vbnet
	url = https://github.com/vim-scripts/vbnet.vim.git
[submodule "bundle/matrix"]
	path = bundle/matrix
	url = https://github.com/vim-scripts/matrix.vim--Yang.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib-vim"]
	path = bundle/tlib-vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/getafe"]
	path = bundle/getafe
	url = https://github.com/larssmit/getafe.git
[submodule "bundle/warez"]
	path = bundle/warez
	url = git@github.com:Fl4t/warez-colorscheme.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/mirodark"]
	path = bundle/mirodark
	url = https://github.com/djjcast/mirodark.git
[submodule "bundle/matchtag"]
	path = bundle/matchtag
	url = https://github.com/gregsexton/MatchTag.git
